# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project
.idea/*

# SASS
.sass-cache

# Node
node_modules
npm-debug.log

# Coverage
coverage

# Grunt
.grunt/

# Debugging Files
working

# Docs Build
site/build

# Debugging Files
debug/*
!debug/cluster-sample.html
!debug/comparisons.css
!debug/comparisons.html
!debug/custom-pane.html
!debug/dojo-amd-loader.html
!debug/ignore-flag.html
!debug/requirejs-amd-loader.html
!debug/reset-style.html
!debug/sample.html
!debug/script-tag.html

# Built Files
dist/**/*.js
dist/**/*.map
dist/**/*.css
dist/**/*.gif
dist/**/*.png
dist/**/*.jpg
